<!DOCTYPE html>
<html lang="en">

<head>
    <title>FORM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

</head>


<body>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white">Amazon</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ad accusantium, magni velit rerum facilis, qui iste ipsa provident odit numquam esse quod sunt quaerat alias dolorem dolore repellat ipsum.
        Eius excepturi, perslestias odio aperiam doloribus facere. Totam, quasi odit?
        Pariatur error recusandae ea nat
        Optio saepe quos praesentium laboriosam dignissimos accusamus, repellendus, labore, corrupti in vero nemo inventore molestiae ipsa odio! Culpa, suscipit explicabo cum sunt eum saepe, maiores quos voluptatibus accusamus, nostrum pariatur.</p>
              </section>

    <section>
        <div class="container ">
            <div class="card w-25 mt-4">
                <div class="card-header">
                    <img src="/practice-img/01-8.jpg" class="img-fluid" alt="">
                </div>
                <div class="card-body text-center">
                    Price - $899
                </div>

            </div>
        </div>
    </section>

    </section>

    <section>
        <div class="container ">
            <div class="card w-25 mt-4">
                <div class="card-header">
                    <img src="/practice-img/01-8.jpg" class="img-fluid" alt="">
                </div>
                <div class="card-body text-center">
                    Price - $899
                </div>

            </div>
        </div>
    </section>

    </section>

    <section>
        <div class="container ">
            <div class="card w-25 mt-4">
                <div class="card-header">
                    <img src="/practice-img/01-8.jpg" class="img-fluid" alt="">
                </div>
                <div class="card-body text-center">
                    Price - $899
                </div>

            </div>
        </div>
    </section>

    </section>

    <section>
        <div class="container ">
            <div class="card w-25 mt-4">
                <div class="card-header">
                    <img src="/practice-img/01-8.jpg" class="img-fluid" alt="">
                </div>
                <div class="card-body text-center">
                    Price - $899
                </div>

            </div>
        </div>
    </section>
</body>