<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>filters</h1>
        <h2>{{ data|upper }}</h2>
        <h2>{{ data|lower }}</h2>
        <h2>{{ data|title }}</h2>
        <h2>{{ data|length }}</h2>
        <h2>{{ data|cut:"o" }}</h2>
        <h2>{{ data|default:"default value" }}</h2>
        <h2>{{data|pluralize}}</h2>
        <h2>I have {{count}} cat{{count|pluralize}}</h2>
        <h2>i have {{counts}} mango{{count|pluralize:'es'}}</h2>
    </center>
    
</body>
</html>