<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
    <h1>THIS IS DISPLAY OF EMP JOIN DEPT</h1>
    <table border="3px">
        <tr>
            <th>emp id</th>
            <th>emp name</th>
            <th>job</th>
            <th>mgr</th>
            <th>hiredate</th>
            <th>salary</th>
            <th>comm</th>
            <th>deptno</th>
            <!-- 
            <th>dept name</th>
            <th>location</th>
        </tr>

        {% for EDO in QLEDO %}
        <tr>
            
            <td>{{EDO.EMPNO}}</td>
            <td>{{EDO.ENAME}}</td>
            <td>{{EDO.JOB}}</td>
            <td>{{EDO.MGR}}</td>
            <td>{{EDO.HIREDATE}}</td>
            <td>{{EDO.SAL}}</td>
            <td>{{EDO.COMM}}</td>
            <td>{{EDO.DEPTNO.DEPTNO}}</td>
            <td>{{EDO.DEPTNO.DNAME}}</td>
            <td>{{EDO.DEPTNO.LOC}}</td>
        </tr>
        {% endfor %} -->

        <!-- {% for EMO in QLEMO %}
        <tr>
            
            <td>{{EMO.EMPNO}}</td>       here we can try to fetch the mgr table data so here we can comment all the data related to dept table
            <td>{{EMO.ENAME}}</td>
            <td>{{EMO.JOB}}</td>
            <td>{{EMO.MGR}}</td>
            <td>{{EMO.HIREDATE}}</td>
            <td>{{EMO.SAL}}</td>
            <td>{{EMO.COMM}}</td>
            <td>{{EMO.DEPTNO}}</td>
            
            <td>{{EMO.DNAME}}</td>
            <td>{{EMO.LOC}}</td>
        </tr>
        {% endfor %}-->



        {% for EDMO in QLEDMO %}
        <tr>
            
            <td>{{EDMO.EMPNO}}</td>       <!--here we can try to fetch the mgr table data so here we can comment all the data related to dept table-->
            <td>{{EDMO.ENAME}}</td>
            <td>{{EDMO.JOB}}</td>
            <td>{{EDMO.MGR}}</td>
            <td>{{EDMO.HIREDATE}}</td>
            <td>{{EDMO.SAL}}</td>
            <td>{{EDMO.COMM}}</td>
            <td>{{EDMO.DEPTNO}}</td>
            <!-- 
            <td>{{EMO.DNAME}}</td>
            <td>{{EMO.LOC}}</td> -->
        </tr>
        {% endfor %}
        </table>
    </center>


</body>
</html>