<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>forms</h1>
        <form action="" method="post">
            <label for="una"> username</label>
            <input type="text" name="una" id="una">
            <br>
            <br>
            <label for="pwa"> password</label>
            <input type="password" name="pwa" id="pwa">
            <br>
            <br>
            <input type="submit">
        </form>
    </center>
</body>
</html>